#Step1: Loading the dataset and checking the basic information of dataset

In [1]:
import numpy as np
import pandas as pd

In [2]:
car_data= pd.read_csv(r'C:\Users\bini1\DSA\car_age_price.csv')

In [3]:
car_data.head(10)

   Year   Price
0  2018  465000
1  2019  755000
2  2019  700000
3  2018  465000
4  2018  465000
5  2015  350000
6  2016  425000
7  2017  575000
8  2017  509999
9  2017  575000

In [4]:
car_data.shape

(112, 2)

In [5]:
car_data.describe()

              Year          Price
count   112.000000     112.000000
mean   2016.669643  483866.044643
std       1.629616   91217.450533
min    2013.000000  300000.000000
25%    2015.000000  423750.000000
50%    2017.000000  500000.000000
75%    2017.000000  550000.000000
max    2020.000000  755000.000000

In [6]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    112 non-null    int64
 1   Price   112 non-null    int64
dtypes: int64(2)
memory usage: 1.9 KB

In [7]:
car_data.isna().sum()

Year     0
Price    0
dtype: int64

#Step2: Checking the correlation between the variables (Not necessary since there are only two variables in the dataset- one     feature and one label

In [83]:
car_data.corr()

           Year     Price
Year   1.000000  0.776302
Price  0.776302  1.000000

#Step3: Choosing the X variable(feature) and y variable(label)

In [84]:
car_data.columns

Index(['Year', 'Price'], dtype='object')

In [85]:
X= car_data[['Year']]
y= car_data[['Price']]

In [86]:
X

     Year
0    2018
1    2019
2    2019
3    2018
4    2018
..    ...
107  2016
108  2014
109  2015
110  2016
111  2015

[112 rows x 1 columns]

In [87]:
y

      Price
0    465000
1    755000
2    700000
3    465000
4    465000
..      ...
107  375000
108  300000
109  425000
110  420000
111  425000

[112 rows x 1 columns]

#Step4: Splitting the data in the ratio 70:30(training data: test data)

In [108]:
from sklearn.model_selection import train_test_split

In [109]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.3,random_state=50)

In [110]:
X_train.shape

(78, 1)

In [111]:
X_test.shape

(34, 1)

In [112]:
y_train.shape

(78, 1)

In [113]:
y_test.shape

(34, 1)

#Step5: Importing the linear regression model and fitting the training data into same

In [114]:
from sklearn.linear_model import LinearRegression

In [127]:
model= LinearRegression()

In [116]:
model.fit(X_train,y_train)

LinearRegression()

#Step6: Predicting the y variable for the X_train and checking the accuracy with the y_train variable

In [118]:
y_pred= model.predict(X_train)

In [119]:
y_pred

array([[507494.21153846],
       [507494.21153846],
       [371738.38461539],
       [416990.32692309],
       [416990.32692309],
       [507494.21153846],
       [371738.38461539],
       [507494.21153846],
       [507494.21153846],
       [507494.21153846],
       [507494.21153846],
       [507494.21153846],
       [507494.21153846],
       [507494.21153846],
       [597998.09615386],
       [507494.21153846],
       [326486.4423077 ],
       [371738.38461539],
       [552746.15384616],
       [507494.21153846],
       [507494.21153846],
       [643250.03846154],
       [507494.21153846],
       [507494.21153846],
       [507494.21153846],
       [597998.09615386],
       [597998.09615386],
       [507494.21153846],
       [507494.21153846],
       [507494.21153846],
       [507494.21153846],
       [416990.32692309],
       [462242.26923077],
       [416990.32692309],
       [416990.32692309],
       [552746.15384616],
       [552746.15384616],
       [597998.09615386],
       [416990.32692309],
       [416990.32692309],
       [507494.21153846],
       [416990.32692309],
       [462242.26923077],
       [643250.03846154],
       [597998.09615386],
       [416990.32692309],
       [462242.26923077],
       [507494.21153846],
       [507494.21153846],
       [416990.32692309],
       [597998.09615386],
       [416990.32692309],
       [552746.15384616],
       [507494.21153846],
       [597998.09615386],
       [552746.15384616],
       [462242.26923077],
       [507494.21153846],
       [507494.21153846],
       [507494.21153846],
       [507494.21153846],
       [507494.21153846],
       [416990.32692309],
       [416990.32692309],
       [507494.21153846],
       [507494.21153846],
       [597998.09615386],
       [416990.32692309],
       [416990.32692309],
       [371738.38461539],
       [416990.32692309],
       [416990.32692309],
       [552746.15384616],
       [507494.21153846],
       [507494.21153846],
       [552746.15384616],
       [507494.21153846],
       [462242.26923077]])

In [120]:
y_train

      Price
14   475000
89   520000
56   341000
111  425000
82   390000
..      ...
94   520000
33   550000
11   500000
96   520000
48   396000

[78 rows x 1 columns]

#Checking the accuracy of the model

In [121]:
from sklearn.metrics import mean_absolute_error

In [122]:
mae= mean_absolute_error(y_train,y_pred)
mae

43200.005917159026

#The error is very high, indicating that the model do not give a good relationship of year and price of car.

#Finding slope and intercept to predict car price in 2022

slope= model.coef_[0]
intercept= model.intercept_

In [132]:
slope

NameError: name 'slope' is not defined

#Lasso Regression

In [131]:
from sklearn import linear_model
clf= linear_model.Lasso
clf.fit(X_train,y_train)

AttributeError: 'DataFrame' object has no attribute '_validate_params'