In [340]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [341]:
train_data= pd.read_csv(r'C:\Users\bini1\DSA\Virtual competition2\train_ctrUa4K.csv')
train_data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [342]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [343]:
train_data['Loan_ID'].nunique()

614

In [344]:
train_data.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [345]:
train_data= train_data.fillna(train_data.mean())

C:\Users\bini1\AppData\Local\Temp\ipykernel_12496\2872137704.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  train_data= train_data.fillna(train_data.mean())

In [346]:
train_data.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [347]:
train_data['Gender']= train_data['Gender'].fillna(train_data['Gender'].mode()[0])

In [348]:
train_data['Married']= train_data['Married'].fillna(train_data['Married'].mode()[0])

In [349]:
train_data['Dependents']= train_data['Dependents'].fillna(train_data['Dependents'].mode()[0])

In [350]:
train_data['Self_Employed']= train_data['Self_Employed'].fillna(train_data['Self_Employed'].mode()[0])

In [351]:
train_data.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [352]:
from sklearn.preprocessing import LabelEncoder
encoder= LabelEncoder()
column_to_encode= 'Gender'
column_to_encode_value= train_data[column_to_encode]
train_data['Gender']= encoder.fit_transform(column_to_encode_value)

In [353]:
column_to_encode= 'Married'
column_to_encode_value= train_data[column_to_encode]
train_data['Married']= encoder.fit_transform(column_to_encode_value)

In [354]:
column_to_encode= 'Education'
column_to_encode_value= train_data[column_to_encode]
train_data['Education']= encoder.fit_transform(column_to_encode_value)

In [355]:
column_to_encode= 'Self_Employed'
column_to_encode_value= train_data[column_to_encode]
train_data['Self_Employed']= encoder.fit_transform(column_to_encode_value)

In [356]:
column_to_encode= 'Property_Area'
column_to_encode_value= train_data[column_to_encode]
train_data['Property_Area']= encoder.fit_transform(column_to_encode_value)

In [357]:
train_data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,0,0,5849,0.0,146.412162,360.0,1.0,2,Y
1,LP001003,1,1,1,0,0,4583,1508.0,128.000000,360.0,1.0,0,N
2,LP001005,1,1,0,0,1,3000,0.0,66.000000,360.0,1.0,2,Y
3,LP001006,1,1,0,1,0,2583,2358.0,120.000000,360.0,1.0,2,Y
4,LP001008,1,0,0,0,0,6000,0.0,141.000000,360.0,1.0,2,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0,0,0,0,0,2900,0.0,71.000000,360.0,1.0,0,Y
610,LP002979,1,1,3+,0,0,4106,0.0,40.000000,180.0,1.0,0,Y
611,LP002983,1,1,1,0,0,8072,240.0,253.000000,360.0,1.0,2,Y
612,LP002984,1,1,2,0,0,7583,0.0,187.000000,360.0,1.0,2,Y
613,LP002990,0,0,0,0,1,4583,0.0,133.000000,360.0,0.0,1,N

In [358]:
train_data['Dependents']= train_data['Dependents'].replace(to_replace='3+', value= 3, inplace=False)
train_data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,0,0,5849,0.0,146.412162,360.0,1.0,2,Y
1,LP001003,1,1,1,0,0,4583,1508.0,128.000000,360.0,1.0,0,N
2,LP001005,1,1,0,0,1,3000,0.0,66.000000,360.0,1.0,2,Y
3,LP001006,1,1,0,1,0,2583,2358.0,120.000000,360.0,1.0,2,Y
4,LP001008,1,0,0,0,0,6000,0.0,141.000000,360.0,1.0,2,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0,0,0,0,0,2900,0.0,71.000000,360.0,1.0,0,Y
610,LP002979,1,1,3,0,0,4106,0.0,40.000000,180.0,1.0,0,Y
611,LP002983,1,1,1,0,0,8072,240.0,253.000000,360.0,1.0,2,Y
612,LP002984,1,1,2,0,0,7583,0.0,187.000000,360.0,1.0,2,Y
613,LP002990,0,0,0,0,1,4583,0.0,133.000000,360.0,0.0,1,N

In [359]:
train_data.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [360]:
x= train_data[['Gender', 'Married', 'Dependents', 'Education',
'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area']]
y= train_data[['Loan_Status']]

In [361]:
from sklearn.preprocessing import StandardScaler
x= StandardScaler().fit_transform(x)

In [362]:
x.shape

(614, 11)

In [363]:
y.shape

(614, 1)

In [364]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.20,random_state=42,shuffle=True)

In [365]:
x_train.shape

(491, 11)

In [366]:
x_test.shape

(123, 11)

In [367]:
y_train.shape

(491, 1)

In [368]:
y_test.shape

(123, 1)

In [ ]:
#Since the output variable is categorical, building models with classification algorithms

In [ ]:
#Applying Logistic Regression

In [371]:
from sklearn.linear_model import LogisticRegression
model_lo= LogisticRegression().fit(x_train,y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [372]:
y_predict_lo= model_lo.predict(x_test)

In [373]:
from sklearn.metrics import accuracy_score
accuracy_score_lo= accuracy_score(y_predict_lo,y_test)
accuracy_score_lo

0.7886178861788617

In [374]:
#Applying KNN algorithm

In [375]:
from sklearn.neighbors import KNeighborsClassifier
model_knn= KNeighborsClassifier().fit(x_train,y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\neighbors\_classification.py:228: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [376]:
y_predict_knn= model_knn.predict(x_test)

In [377]:
accuracy_score_knn= accuracy_score(y_predict_knn,y_test)
accuracy_score_knn

0.7479674796747967

In [378]:
#Applying SVM algorithm

In [379]:
from sklearn.svm import SVC
model_svc= SVC().fit(x_train,y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [380]:
y_predict_svc= model_svc.predict(x_test)

In [381]:
accuracy_score_svc= accuracy_score(y_predict_svc,y_test)
accuracy_score_svc

0.7886178861788617

In [382]:
#Applying DecsionTree Classifier algorithm

In [383]:
from sklearn.tree import DecisionTreeClassifier
model_tr= DecisionTreeClassifier(criterion='entropy', max_depth=3).fit(x_train,y_train)

In [384]:
y_predict_tr= model_tr.predict(x_test)

In [385]:
accuracy_score_tr= accuracy_score(y_predict_tr,y_test)
accuracy_score_tr

0.7886178861788617

In [386]:
#Applying RandomForest algorithm

In [387]:
from sklearn.ensemble import RandomForestClassifier
model_rf= RandomForestClassifier(random_state=42).fit(x_train,y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [388]:
y_predict_rf= model_rf.predict(x_test)

In [389]:
accuracy_score_rf= accuracy_score(y_predict_rf,y_test)
accuracy_score_rf

0.7723577235772358

In [302]:
#Taking classification report for the models with same accuracy to finalise the required model
#Maximum accuracy of 0.789 shown by models of three algorithms- logistic regression, svc and decision tree

In [303]:
from sklearn.metrics import classification_report
cl_report_lo= classification_report(y_predict_lo,y_test)
print(cl_report_lo)

              precision    recall  f1-score   support

           N       0.42      0.95      0.58        19
           Y       0.99      0.76      0.86       104

    accuracy                           0.79       123
   macro avg       0.70      0.85      0.72       123
weighted avg       0.90      0.79      0.82       123

In [304]:
cl_report_svc= classification_report(y_predict_svc,y_test)
print(cl_report_svc)

              precision    recall  f1-score   support

           N       0.42      0.95      0.58        19
           Y       0.99      0.76      0.86       104

    accuracy                           0.79       123
   macro avg       0.70      0.85      0.72       123
weighted avg       0.90      0.79      0.82       123

In [305]:
cl_report_tr= classification_report(y_predict_tr,y_test)
print(cl_report_tr)

              precision    recall  f1-score   support

           N       0.42      0.95      0.58        19
           Y       0.99      0.76      0.86       104

    accuracy                           0.79       123
   macro avg       0.70      0.85      0.72       123
weighted avg       0.90      0.79      0.82       123

In [390]:
#Classification report shows similar values.
#Hence any of the above three models can be chosen.

In [391]:
# Choosing Decision Tree Classification model to predict the Loan Status of Test data file

In [392]:
#Importing the test data file and doing the necessary preprocessing works

In [474]:
test_data= pd.read_csv(r'C:\Users\bini1\DSA\Virtual competition2\test_lAUu6dG.csv')
test_data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [475]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            367 non-null    object
 1   Gender             356 non-null    object
 2   Married            367 non-null    object
 3   Dependents         357 non-null    object
 4   Education          367 non-null    object
 5   Self_Employed      344 non-null    object
 6   ApplicantIncome    367 non-null    int64
 7   CoapplicantIncome  367 non-null    int64
 8   LoanAmount         362 non-null    float64
 9   Loan_Amount_Term   361 non-null    float64
 10  Credit_History     338 non-null    float64
 11  Property_Area      367 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB

In [476]:
test_data.isna().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [477]:
test_data= test_data.fillna(test_data.mean())

C:\Users\bini1\AppData\Local\Temp\ipykernel_12496\2416267685.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  test_data= test_data.fillna(test_data.mean())

In [478]:
test_data.isna().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
dtype: int64

In [479]:
test_data['Gender']= test_data['Gender'].fillna(test_data['Gender'].mode()[0])

In [480]:
test_data['Dependents']= test_data['Dependents'].fillna(test_data['Dependents'].mode()[0])

In [481]:
test_data['Self_Employed']= test_data['Self_Employed'].fillna(test_data['Self_Employed'].mode()[0])

In [482]:
test_data.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [483]:
from sklearn.preprocessing import LabelEncoder
encoder= LabelEncoder()
column_to_encode= 'Gender'
column_to_encode_value= test_data[column_to_encode]
test_data['Gender']= encoder.fit_transform(column_to_encode_value)

In [484]:
column_to_encode= 'Married'
column_to_encode_value= test_data[column_to_encode]
test_data['Married']= encoder.fit_transform(column_to_encode_value)

In [485]:
column_to_encode= 'Education'
column_to_encode_value= test_data[column_to_encode]
test_data['Education']= encoder.fit_transform(column_to_encode_value)

In [486]:
column_to_encode= 'Self_Employed'
column_to_encode_value= test_data[column_to_encode]
test_data['Self_Employed']= encoder.fit_transform(column_to_encode_value)

In [487]:
column_to_encode= 'Property_Area'
column_to_encode_value= test_data[column_to_encode]
test_data['Property_Area']= encoder.fit_transform(column_to_encode_value)

In [488]:
test_data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,1,1,0,0,0,5720,0,110.0,360.0,1.000000,2
1,LP001022,1,1,1,0,0,3076,1500,126.0,360.0,1.000000,2
2,LP001031,1,1,2,0,0,5000,1800,208.0,360.0,1.000000,2
3,LP001035,1,1,2,0,0,2340,2546,100.0,360.0,0.825444,2
4,LP001051,1,0,0,1,0,3276,0,78.0,360.0,1.000000,2
...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,1,1,3+,1,1,4009,1777,113.0,360.0,1.000000,2
363,LP002975,1,1,0,0,0,4158,709,115.0,360.0,1.000000,2
364,LP002980,1,0,0,0,0,3250,1993,126.0,360.0,0.825444,1
365,LP002986,1,1,0,0,0,5000,2393,158.0,360.0,1.000000,0
366,LP002989,1,0,0,0,1,9200,0,98.0,180.0,1.000000,0

In [489]:
test_data['Dependents']= test_data['Dependents'].replace(to_replace='3+',value=3,inplace=False)
test_data

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,1,1,0,0,0,5720,0,110.0,360.0,1.000000,2
1,LP001022,1,1,1,0,0,3076,1500,126.0,360.0,1.000000,2
2,LP001031,1,1,2,0,0,5000,1800,208.0,360.0,1.000000,2
3,LP001035,1,1,2,0,0,2340,2546,100.0,360.0,0.825444,2
4,LP001051,1,0,0,1,0,3276,0,78.0,360.0,1.000000,2
...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,1,1,3,1,1,4009,1777,113.0,360.0,1.000000,2
363,LP002975,1,1,0,0,0,4158,709,115.0,360.0,1.000000,2
364,LP002980,1,0,0,0,0,3250,1993,126.0,360.0,0.825444,1
365,LP002986,1,1,0,0,0,5000,2393,158.0,360.0,1.000000,0
366,LP002989,1,0,0,0,1,9200,0,98.0,180.0,1.000000,0

In [490]:
test_data.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [496]:
x_test_testdata= test_data[['Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area']]

In [497]:
x_test_testdata= StandardScaler().fit_transform(x_test_testdata)

In [498]:
x_test_testdata.shape

(367, 11)

In [ ]:
#Predicting the loan status(y variable) for the test data file using decision tree

In [507]:
loan_status_tr= model_tr.predict(x_test_testdata)
loan_status_tr

array(['Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y',
       'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y',
       'Y', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'N', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y'], dtype=object)

In [ ]:
#Predicting the loan status(y variable) for the test data file using SVM

In [517]:
loan_status_svc= model_svc.predict(x_test_testdata)
loan_status_svc

array(['Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y',
       'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'N', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y'], dtype=object)

In [501]:
#Uploading the sample submission model to python

In [529]:
sample= pd.read_csv(r'C:\Users\bini1\DSA\Virtual competition2\sample_submission_49d68Cx.csv')
sample.head()

    Loan_ID Loan_Status
0  LP001015           N
1  LP001022           N
2  LP001031           N
3  LP001035           N
4  LP001051           N

In [530]:
sample['Loan_Status']= sample['Loan_Status'].replace(to_replace= sample['Loan_Status'].values, value= loan_status_tr, inplace=False)

In [531]:
#Sample dataset with the predicted 'LoanStatus' values using Decision Tree algorithm

In [532]:
sample.head()

    Loan_ID Loan_Status
0  LP001015           Y
1  LP001022           Y
2  LP001031           Y
3  LP001035           Y
4  LP001051           Y

In [533]:
sample.to_csv(r'C:\Users\bini1\DSA\Virtual competition2\Sample-DT.csv', index= False)

In [534]:
#Sample dataset with the predicted 'LoanStatus' values using SVM algorithm

In [535]:
sample['Loan_Status']= sample['Loan_Status'].replace(to_replace= sample['Loan_Status'].values, value= loan_status_svc, inplace=False)

In [536]:
sample.head()

    Loan_ID Loan_Status
0  LP001015           Y
1  LP001022           Y
2  LP001031           Y
3  LP001035           Y
4  LP001051           Y

In [537]:
sample.to_csv(r'C:\Users\bini1\DSA\Virtual competition2\Sample-SVM.csv', index= False)